extends ../layouts/main-layout.pug

block styles 
    link(rel="stylesheet" href="/css/auth.css")
    link(rel="stylesheet" href="/css/forms.css")
block content
    main
        if(errorMessage)
            div(class=errorMessage.length ? "user-message user-message--error": "") #{errorMessage}
        form.login-form(action="/auth/login" method="POST")
            .form-control
                label(for="user") User / E-mail
                input(type="text" name="user")#user
            .form-control
                label(for="password") Password
                input(type="password" name="password" )#password      
            input(type="hidden" name="_csrf" value=csrfToken) 
            button.btn(type="submit") Login